.name_header{text-align: center;
margin-top: 3%;}

.card{margin-left: auto;
margin-right: auto;
margin-top: 3%;}

.navbar.navbar-expand-lg.bg-body-tertiary{
    color: darkgray;
}

.week2_img1{
    width: 70%;
}

.week2_img2{
    width: 70%;
}
